<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44824767625-rsf65624csv5256fifllb3ndm512v7fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44824767625-rsf65624csv5256fifllb3ndm512v7fo</string>
	<key>API_KEY</key>
	<string>AIzaSyBIJi52rgjOrMdJUZiz66Zd9bgxJkqGLr8</string>
	<key>GCM_SENDER_ID</key>
	<string>44824767625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.c25kenneth.goGallery</string>
	<key>PROJECT_ID</key>
	<string>roadtrip-router</string>
	<key>STORAGE_BUCKET</key>
	<string>roadtrip-router.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44824767625:ios:8ba9dd75bf857d2f8fea58</string>
</dict>
</plist>